@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom class */
.firstTitle{
  @apply  text-4xl 
          font-bold m-5 
        text-violet-500 
          font-fontPrimary
           uppercase
}
.titleDetailItem{
  @apply text-xl 
         font-semibold 
         font-fontPrimary 
         text-gray-500
         m-10
         md:w-2/5 mt-0
}
.card{ 
    @apply  shadow-md 
            flex flex-col 
            items-center 
            rounded
            justify-center 
            pb-2 w-4/5  
            bg-white border  
            m-5
            font-fontPrimary
            sm:w-2/5  
            lg:w-1/4
            xl:w-1/5
}

.imageWrapper{
    @apply h-72
           overflow-hidden
           rounded-t
}

.textTitle{
  @apply text-red-300 
           text-lg 
           font-semibold
            m-4
}

.navWrapper{
  @apply flex 
         flex-col 
         items-center  
         bg-violet-50 
         p-5 
         font-fontPrimary 
         lg:items-end
}

.buttonWrapper{
  @apply  bg-red-200 
            hover:bg-red-300
            p-2 rounded 
            w-1/4 mb-4 
            text-violet-500
            
}

.buttonWrapperPrimary{
  @apply flex 
          flex-row 
          bg-white 
          rounded 
          items-center 
          shadow-md
}

.buttonWrapperSecondary{
  @apply bg-red-200 
            active:bg-pink-200
            hover:bg-red-300
            rounded 
             p-1
             m-1 
            text-white
            font-bold
            
}



.listItemWrapper{
  @apply bg-violet-50
         flex 
         flex-col 
         items-center
         p-3
         sm:flex-row 
         flex-wrap
         justify-center
}
.detailWrapper{
  @apply p-7 
         bg-violet-50
         flex 
         flex-wrap
         justify-start 
         md:flex-row-reverse items-start justify-center 
}

.house{
 @apply rounded-full 
        bg-pink-200 
        fixed
        bottom-3
        w-20
        h-20
      active:bg-pink-200 
      hover:bg-pink-300 border border-violet-600
}
.houseIcon{
 @apply
       text-2xl 
       font-bold m-5 
       flex 
       justify-center
      text-violet-500
}